@import "styles/abstract/colors.scss";
@import "styles/abstract/constraints.scss";

.categorySelector {

  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;

  .container {

    display: flex;
    flex-direction: column;

    .title {
      color: $primary-inverted;
      font-size: $categorySelectorTitleFontSize;
    }
  }
}
