@import "styles/abstract/colors.scss";
@import "styles/abstract/constraints.scss";

.partsFilter {
  background: $primary;
  border-radius: $partsListBorderRadius;
  padding: $partsListPadding;
  flex-grow: 1;
  margin: 10px 5px;
  min-width: $partsListMinWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;

  .title {
    color: $primary-inverted;
    font-size: $partsListTitleFontSize;
    text-align: center;
    font-weight: 300;
  }

  .form {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: $partsFilterFormBottomPadding;

    .subTitle {
      color: $primary-inverted;
      font-weight: 400;
      text-align: center;
    }
    div {
      p {
        color: $primary-inverted
      }
    }
  }
}
