@import "styles/abstract/colors.scss";
@import "styles/abstract/constraints.scss";

.overlay {

  top: 0;
  left: 0;
  position: fixed;
  width: $maxFullscreenWidth;
  height: $maxFullscreenHeight;
  background: $overlay;
  display: grid;
  place-items: center;

  .partChange {
    background: $primary;
    border-radius: $partChangeBorderRadius;
    display: flex;
    flex-direction: column;
    min-width: $partChangeMinWidth;
    min-height: $partChangeMinHeight;
    max-width: $partChangeMaxWidth;
    max-height: $partChangeMaxHeight;

    .header {
      display: flex;
      align-items: center;
      text-align: center;

      .title {
        flex-grow: 1;
        font-weight: 500;
        font-size: $partChangeTitleFontSize;
      }
      .close {
        font-size: $partChangeCloseButtonFontSize;
        font-weight: 900;
        color: $danger;
        cursor: pointer;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 5px;

     div {
      p {
        color: $primary-inverted;
      }
     }

     div:nth-child(3) {
      flex-grow: 1;

      textarea {
        max-width: 790px;
        max-height: 390px;
        height: min-content;
        width: min-content;
        font-size: 16px;
        font-weight: 500;
      }
     }

      .button {
        padding: $buttonPadding;
        border-radius: $buttonBorderRadius;
        background: $accent;
        color: $text-inverted;
        border: none;
        font-size: $buttonFontSize;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }
}
