@import '../abstract/colors.scss';
@import '../abstract/constraints.scss';

.base {
  width: $maxFullscreenWidth;
  height: $maxFullscreenHeight;
  background: $primary-inverted-gradient;
  display: grid;
  grid-template-columns: $sidePanelWidth 1fr;
}
