@import "styles/abstract/colors.scss";
@import "styles/abstract/constraints.scss";

.parts {
  max-height: $partsMaxHeight;
  display: grid;
  grid-template-rows: auto 4fr;
  gap: $partsGridGap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 100%;

    > div {
      max-height: $partsContentMaxHeight;
    }
  }
}
