$primary: #fdfdfc;
$primary-inverted: #6d82d0;
$text: #000000;
$text-inverted: #fdfdfc;
$accent:#4a63bf;
$overlay:#6d82d0bf;
$surface:#aebbea9c;
$danger:#ff2f00;
$warning:#f19e22;
$primary-inverted-gradient: linear-gradient(to right bottom, $primary-inverted, $primary-inverted+bf);
